/******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/

/*********************
POST STYLES
*********************/
/* top image */
.page-header, .videoplayer, .top-image {
    min-height: 600px;
}

#menu-top-corner {
    position: static;
    display: block;
    font-size: 0.9em;
}
/* main top menu for all pages */
.allpage {
    padding-left: 10%;
}

.top-more {
    display: none;
}

#logo {
  width: 25%;
}

.footer {
    nav {
        @include columns(3);
    }
}

