.header {
    float: left;
    width: 100%;
    z-index: 22;
    @include black-gradient();
}
.header, .right.corner {
  a {
      color: #FFF;
      &:hover {
        color: $red;
      }
  }
}

#logo {
    &:hover {
        color: #FFF;
    }
    margin: 0.5em 1%;
    float: left;
    font-size: 1.2em;
    width: 98%;
    span {
        float: left;
        line-height: 2em;
        font-size: 1.8;
    }
    img {
        float: left;
        margin-right: 0.3em;
        max-height: 2em;
    }
}

.allpage {
    display: none;
    position: relative;
    float: left;
    width: 68%;
    margin: 0.5em 0;
}
.right.corner {
    display: none;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 0.8em;
    line-height: 3em;
}
.top-more {
  padding: 1em 2em;
}
#menu-top-corner {
  display: none;
  margin-right: 44px;
  top: 4em;
  right: 2em;
  li a{
    padding: 14px 8px;
  }
}
.triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 8px 10px 8px;
  border-color: transparent transparent #ffffff transparent;
  position: absolute;
  right: 10px;
  top: -5px;
}
#menu-top-hover-menu {
  display: none;
  position: absolute;
  background: white;
  border-radius: 4px;
  margin-right: 10px;
  min-width: 120px;
  top: 4em;
  right: 1em;
  padding: 5px 0;
  li{
    margin: 0;
    width: 100%;
    a{
      line-height: 1.2em;
      color: #666;
      padding: 7px 8px;
      width: 100%;
      &:hover {
        color: #000;
        background: #DDD;
      }
    }
  }
}
.home #menu-top-corner {
  position: static;
  background: transparent;
  border-radius: 0px;
}
.right.corner ul {
    margin: 0;
}
.home-navigation {
    display: none;
    float: left;
    width: 75%;
    text-align: center;
}
.home-navigation ul {
    text-align: center;
    padding: 0 0.5em;
    border-radius: 5px;
    display: inline-block;
    @include box-shadow(0px 1px 2px rgba(0, 0, 0, 0.4));
}
.home-navigation .nav li {
    display: inline-block;
    float: none;
    border-left: solid 1px rgba(#000, 0.1);
    &:first-child {
        border: none;
    }
}

/*************
* Mobile menu
*************/
.mobile-menu {
    position: absolute;
    top: 1em;
    right: 0.5em;

    // ICON
    padding: 0 0.5em;
    border-radius: 5px;
    @include red-gradient();
    @include box-shadow(0px 1px 2px rgba(0, 0, 0, 0.4));

    overflow: hidden;
    width: 2em;
    height: 1.8em;
    text-indent: -9999px;

    &:before {
        position: absolute;
        top: 0.5em;
        left: 0.5em;
        content: "X";
        width: 1em;
        height: 1em;
        background: transparent url('../images/menu-icon.png') no-repeat;
        background-size: contain;
    }
}

.mobile-home-nav {
    background: #FFF;
    display: none;
    float: left;
    width: 100%;
    overflow: hidden;
    li {
        border-bottom: solid 1px #DDD;
        text-align: center;
    }
    .right.corner {
        float: right;
        position: static;
        width: 100%;
    }
}

.undermenu li {
     display: inline-block;
     margin: 0 20px;
     a:hover {
       color: $red-darken;

     }
}
.undermenu > ul {
    text-align: center;
}
.undermenu {
    float: left;
    width: 100%;
    background: none repeat scroll 0 0 #EEEEEE;
    padding: 0;
    border-bottom: solid 1px #DDD;
    margin-bottom: 0.5em;
}
