.header {
    width: 100%;
    z-index: 22;
    position: absolute;
}
.mobile-menu {
    position: absolute;
    top: 1em;
    right: 1em;
    //TODO: add icon
}
.mobile-home-nav {
    display: none;
    li {
        border-bottom: solid 1px #DDD;
    }
}

#logo {
    margin: 0.5em;
    float: left;
    font-size: 1.2em;
    width: 100%;
    span {
        float: left;
        line-height: 2em;
        font-size: 1.8;
    }
    img {
        float: left;
        margin-right: 0.3em;
        max-height: 2em;
    }
}

.home-navigation {
    display: none;
    float: left;
    width: 100%;
    text-align: center;
}
.home-navigation ul {
    text-align: center;
    padding: 0 0.5em;
    border-radius: 5px;
    display: inline-block;
    @include box-shadow(0px 1px 2px rgba(0, 0, 0, 0.4));
    a {
        color: #FFF;
    }
}
.home-navigation .nav li {
    display: inline-block;
    float: none;
    border-left: solid 1px rgba(#000, 0.1);
    &:first-child {
        border: none;
    }
}
