/* top image used on front page */
.page-header, .videoplayer, .top-image {
    background-color: black;
    background-size: cover;
    background-position: center center;
    min-height: 200px;
    float: left;
    width: 100%;
    position: relative;
    .page-header-content {
        position: absolute;
        color: white;
        width: 100%;
        margin: 0 auto;
        bottom: 0;
    }
    div.eightcol {
      margin-bottom: 1em;
    }
}
.page-title {
  margin-bottom: 0;
}

.responsive-image {
  .page-header-content {
    @include background-image(linear-gradient(bottom, rgba(black, 0.8), rgba(0, 0, 0, 0)));
  }
}
