.header {
    float: left;
    width: 100%;
    z-index: 22;
    @include black-gradient();
    a {
        color: #FFF;
        &:hover {
            color: #EFEFEF;
        }
    }
}

#logo {
    margin: 0.5em 1%;
    float: left;
    font-size: 1.2em;
    width: 100%;
    span {
        float: left;
        line-height: 2em;
        font-size: 1.8;
    }
    img {
        float: left;
        margin-right: 0.3em;
        max-height: 2em;
    }
}

.allpage {
    display: none;
    position: relative;
    float: left;
    width: 68%;
    margin: 0.5em 0;
}

.right.corner {
    display: none;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 0.8em;
    line-height: 3em;
}
.right.corner ul {
    margin: 0;
}
.home-navigation {
    display: none;
    float: left;
    width: 75%;
    text-align: center;
}
.home-navigation ul {
    text-align: center;
    padding: 0 0.5em;
    border-radius: 5px;
    display: inline-block;
    @include box-shadow(0px 1px 2px rgba(0, 0, 0, 0.4));
}
.home-navigation .nav li {
    display: inline-block;
    float: none;
    border-left: solid 1px rgba(#000, 0.1);
    &:first-child {
        border: none;
    }
}

/*************
* Mobile menu
*************/
.mobile-menu {
    position: absolute;
    top: 1em;
    right: 1em;

    // ICON
    padding: 0 0.5em;
    border-radius: 5px;
    @include red-gradient();
    @include box-shadow(0px 1px 2px rgba(0, 0, 0, 0.4));

    overflow: hidden;
    width: 2em;
    height: 1.8em;
    text-indent: -9999px;

    &:before {
        position: absolute;
        top: 0.5em;
        left: 0.5em;
        content: "X";
        width: 1em;
        height: 1em;
        background: transparent url('../images/menu-icon.png') no-repeat;
        background-size: contain;
    }
}

.mobile-home-nav {
    background: #FFF;
    display: none;
    float: left;
    width: 100%;
    overflow: hidden;
    li {
        border-bottom: solid 1px #DDD;
        text-align: center;
    }
    .right.corner {
        float: right;
        position: static;
        width: 100%;
    }
}
