#contact-list {
    h4 {
        margin-bottom: 0;
    }

    .titles {
        display: block;
        font-size: 12px;
        margin-bottom: 4px;
    }

    .contact {
        display: block;
        font-size: 12px;
        margin-bottom: 4px;
    }
}
