/*********************
* Menu for front page
**********************/
.home {
    #logo, .right {
      text-shadow: 0px 1px 2px rgba(0,0,0,0.4);
    }
    #container {
        padding-top: 0;
    }
    .header {
        position: absolute;
        background: none;
        @include background(linear-gradient(rgba(0,0,0, 0.5) 0%, rgba(0,0,0, 0.0) 80%));
    }
    #menu-top-corner {
        display: block;
    }
    .top-more {
        display: none;
    }
    .home-navigation {
        width: 100%;
        ul {
            @include red-gradient();
            a {
                color: #FFF;
            }
        }
    }

    #home-video {
        overflow: hidden;
    }

    #home-video iframe {
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
    }

    .play-btn {
        position: absolute;
        left: 50%;
        top: 50%;
        cursor: pointer;
        display: block;
        overflow: hidden;
        background-image: url('../images/play-icon.png');
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: -50px;
        margin-top: -30px;
        width: 100px;
        height: 100px;
        text-indent: -999px;
    }
}
.mounting {
    &, &:after, &:before {
      content: '';
      display: block;
      width: 100%;
      position: absolute;
      background: rgba($red, 0.7);
      top: 0;
      left: 0;
      height:  100%;
    }
}
.left-mounting {
    @include transform(skew(0, 5.5deg));
    @include transform-origin(100% 100%);
    &:after {
      @include transform(skew(0, 8.5deg));
      @include transform-origin(100% 100%);
    }
    &:before {
      @include transform(skew(0, 3.5deg));
      @include transform-origin(100% 100%);
    }
}

.right-mounting {
    @include transform(skew(0, -5.5deg));
    @include transform-origin(100% 100%);
    &:after {
      @include transform(skew(0, -8.5deg));
      @include transform-origin(100% 100%);
    }
    &:before {
      @include transform(skew(0, -3.5deg));
      @include transform-origin(100% 100%);
    }
}

.home-content {
  width: 100%;
  float: left;
  p {
    margin-top: 0;
  }
}
.home #container {
  overflow: hidden;
}
.home #content {
  padding-top: 20px;
  position: relative;
  border-top: solid 1px rgba($red, 0.3);
  background: #fff;
  float: left;
  width: 100%;
}
#home-intro {
    float: left;
    clear: both;
    width: 100%;
    position: relative;
    background: $red;
  //  @include red-gradient();
 //   @include box-shadow(0px 1px 2px rgba(0, 0, 0, 0.4));

    padding: 10px 20px 20px;
    margin: 0;
    h1 {
      font-size: 1.8em;
      text-align: center;
    }
    .wrap {
      position: relative;
      z-index: 2;
      background: $red;
    }

    h1 {
        margin: 0 0 0.5em;
    }

    * {
        color: white;
    }
    a {
      text-decoration: underline;
    }
}

#home-news-marquee {
    margin: 20px 0;
}

