/* top image used on front page */
.article-header, .videoplayer, .top-image {
    background: none no-repeat scroll 0 0 #ED1B24;
    background-size: cover;
    background-position: center center;
    min-height: 200px;
    float: left;
    width: 100%;
    position: relative;
    .article-header-content {
        width: 100%;
        margin: 0 auto;
        bottom: 0;
    }
}

